.User {
  font-size: 18px;
  color: grey;
  text-align: left;
}

.Vocabble h1 {
  margin: 10px;
}

.GameInfo {
  display: flex;
  justify-content: space-between;
}

.GameInfo span {
  border-radius: 10px 10px 0px 0px;
  padding: 8px 12px;
}

.GameInfo span.activePlayer {
  color: white;
  background-color: #040;
}

.GameInfo span.activePlayer.currentPlayer {
  background-color: green;
}

.BlankTileChoice-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.BlankTileChoice-buttons {
  position: absolute;
  box-sizing: border-box;
  top: 40%;
  height: 20%;
  left: 10%;
  width: 80%;
  z-index: 101;
  background: white;
  padding: 20px;
  border: 5px solid gold;
}

.BlankTileChoice-buttons button {
  height: 30px;
  width: 30px;
}

.VocabbleBoard {
  border: 10px solid grey;
}

.boardSpace {
  border: 1px solid grey;
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.boardSpace.boardSpace-faded::before {
  content: "";
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
}

.boardSpace.board-centre {
  background-color: violet;
}

.boardSpace.tripleWord {
  background-color: red;
}

.boardSpace.doubleWord {
  background-color: orange;
}

.boardSpace.tripleLetter {
  background-color: darkblue;
}

.boardSpace.doubleLetter {
  background-color: skyblue;
}


/* TILES */

.playerTile {
  border: 1px solid orange;
  width: 33px;
  height: 33px;
  position: relative;
  cursor: pointer;
}

.playerTile-letter {
  font-size: 23px;
  position: relative;
}

.playerTile-score {
  font-size: 10px;
  position: absolute;
  right: 3px;
  top: 0;
}

.VocabblePlayerTiles {
  display: flex;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid grey;
}

.VocabblePlayerTiles:hover {
  border-color: orange;
}

.playerTile.selected {
  background-color: gold;
}

.playerTile.locked {
  background-color: lightgrey;
}

.BagCount {
  font-size: 20px;
  float: right;
}