* {
  box-sizing: border-box;
}

:root {
  --tileSize: min(6.2vw, 38px);
  --growingTileSize: 12.4vw;
}

body {
  background-color: #33333a;
}

.App {
  text-align: center;
  position: relative;
  user-select: none;
}

.GameList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GameList button {
  width: 200px;
  margin: 10px 0;
}

.GameList button div {
  display: flex;
  justify-content: space-between;
}
.GameList button div.chooseGameActive {
  font-weight: bold;
}

.PlayerTileOverlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  touch-action: none; /* prevents scroll when dragging tiles */
}

.placementScore {
  display: none;
  position: absolute;
  z-index: 350;
  background-color: yellow;
  color: brown;
  border: 0.1vw solid brown;
  font-size: calc(0.35*var(--tileSize));
  font-weight: bold;
  padding: 0.1vw min(5px,1vw);
  border-radius: 100%;
  pointer-events: none;
}

.User {
  margin: 0 auto 15px;
  max-width: 600px;
  font-size: 18px;
  color: grey;
  text-align: left;
}

.User button {
  position: relative;
  z-index: 201;
}

.WordAtWar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
}

.Wrapper {
  width: 100vw;
  max-width: 600px; 
}

.WordAtWar h1 {
  margin: 10px;
}

.GameInfo {
  display: flex;
  justify-content: space-between;
}

.GameInfo span {
  color: white;
  border-radius: 10px 10px 0px 0px;
  padding: 8px 12px;
}

.GameInfo span.activePlayer {
  background-color: grey;/* #040; */
}

.WordAtWar.activePlayer .GameInfo span.activePlayer {
  background-color: green;
}

.WordAtWar-modal {
  display: none;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 400;
}

.WordAtWar-modalWindow {
  width: 80%;
  max-height: 80%;
  overflow-y: scroll;
  z-index: 401;
  background: white;
  padding: 20px;
  border: 5px solid gold;
  border-radius: 10px;
  font-size: min(20px,3vw);
}



.BlankTileChoice-buttons button {
  height: var(--tileSize);
  width: var(--tileSize);
  margin: calc(0.2*var(--tileSize));
  background-color: gold;
  border: 1px solid black;
  border-radius: 15%;
}

.QuizChoice-form {
  text-align: left;
}

.quizInstruction {
  text-align: center;
  font-weight: bold;
}

.quiz {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.quizReward, .quizResult {
  padding: 0px 15px;
  font-weight: bold;
  font-family: Arial;
  font-size: min(24px,4vw);
}

.quizReward.correct, .quizResult.correct {
  color: green;
}

.quizReward.incorrect, .quizResult.incorrect {
  color: red;
}

.quizReward.incorrect {
  text-decoration: line-through;
}

.quizOption {
  flex-grow: 1;
}

.quizOption button {
  font-size: min(20px,3vw);
  background-color: #ffed89;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px;
  margin: 5px 0;
  text-align: left;
  width: 100%;
}

.quizOption button:not(.selectedOption):not([disabled]):hover {
  background-color: rgb(255, 227, 68);
}

.quizOption .selectedOption {
  box-shadow: 0 0 calc(0.2* var(--tileSize)) calc(0.15* var(--tileSize)) blue;
}

.quizOption button[disabled] {
  color: black;
}

.quizOption.correct button {
  background-color: #5afb5a;
  font-weight: bold;
}

.quizOption.incorrect button {
  background-color: #ff7a7a;
}

.QuizChoice-form .formFooter {
  text-align: center;
}

.WordAtWar-modalWindow .submitButton {
  background: blue;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 15px 15px 0 0;
  font-size: large;
  font-weight: bold;
}

.WordAtWar-modalWindow .submitButton:hover {
  background: darkblue;
}


.WordAtWar .WordAtWarBoard, .PlayerTiles {
  background-color: white;
}

.WordAtWar.activePlayer .WordAtWarBoard {
  border-color: green;
}

.boardRow {
  display: flex;
}

.boardSpace {
  box-sizing: content-box; /* spaces and tiles can share a size, with tiles being border-box */
  width: var(--tileSize);
  height: var(--tileSize);
  border: 1px solid darkgrey;
  cursor: pointer;
  position: relative;
}

.boardSpace.board-centre {
  background-color: violet;
}

.boardSpace.tripleWord {
  background-color: #ff3b3b;
  color: rgb(227, 227, 227);
}

.boardSpace.doubleWord {
  background-color: #ffb52f;
  color: rgb(73, 73, 73);
}

.boardSpace.tripleLetter {
  background-color: #3c3ca6;
  color: rgb(227, 227, 227);
}

.boardSpace.doubleLetter {
  background-color: skyblue;
  color: rgb(73, 73, 73);
}

.boardSpace .bonusSpace {
  font-size: calc(0.25*var(--tileSize));
  position: absolute;
  width: var(--tileSize);
  height: var(--tileSize);
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardSpace .bonusSpace span {
  font-weight: 900;
}

.boardSpace .bonusSpace .bonusSpaceMultiplier {
  font-size: calc(0.35*var(--tileSize));
}



/* TILES */

.tile {
  border: 1px solid black;
  border-radius: 18%;
  width: var(--tileSize);
  height: var(--tileSize);
  position: absolute;
  cursor: pointer;
  background-color: rgb(237, 255, 137);
  color: #442300;
  z-index: 80;
}

.tile.enlarged {
  width: var(--growingTileSize);
  height: var(--growingTileSize);
}

/* .tile:not(.selected)::after {
  display: block;
  content: "";
  background: rgba(255, 255, 255, 0.5);
  width: var(--growingTileSize);
  height: var(--growingTileSize);
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 0;
  z-index: 70;
} */

.tile.locked {
  background: rgb(255 203 104);
}

.tile-letter {
  font-size: calc(0.7*var(--tileSize));
  line-height: calc(0.9*var(--tileSize));
  position: relative;
  top: 1px;
  z-index: 100;
}

.tile-score {
  font-size: calc(0.3*var(--tileSize));
  line-height: calc(0.5*var(--tileSize));
  position: absolute;
  right: 2px;
  top: -2px;
  z-index: 100;
}

.tile.enlarged .tile-letter {
  top: 3px;
  font-size: calc(0.7*var(--growingTileSize));
  line-height: calc(0.9*var(--growingTileSize));
}

.tile.enlarged .tile-score {
  right: 3px;
  font-size: calc(0.3*var(--growingTileSize));
  line-height: calc(0.45*var(--growingTileSize));
}

.tile.selected {
  background-color: gold;
  z-index: 410;
}

.tile.swapping {
  background-color: red;
}

.PlayerTiles {
  display: flex;
  margin: 30px 0;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid rgb(255, 240, 207);
  height: var(--growingTileSize);
  box-sizing: content-box;
}

.PlayerTiles:hover {
  border-color: orange;
}

.playerTileHolder {
  width: var(--growingTileSize);
  height: var(--growingTileSize);
  margin-right: min(1vw, 15px);
}

.BagCount {
  color: white;
  font-size: calc(0.4*var(--tileSize));
  float: right;
}



.GameControls button {
  margin: 0px 5px;
  width: 18vw;
  height: 18vw;
  max-width: 80px;
  max-height: 80px;
  vertical-align: bottom;
  background-color: darkgreen;
  border: 1px solid white;
  border-radius: 10%;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 201;
}

.GameControls button:hover {
  background-color: green;
}

.GameControls button span.buttonLabel {
  display: block;
  font-weight: bold;
}

.GameControls button[disabled] {
  background-color: dimgrey;
}


@media all and (min-width: 500px) {
  :root {
    --growingTileSize: min(6.2vw, 38px);
  }
  
  .tile.enlarged .tile-letter {
    top: 1px;
  }
  
  .tile.enlarged .tile-score {
    right: 2px;
    top: -2px;
  }
}