* {
  box-sizing: border-box;
}

:root {
  --tileSize: min(6.5vw, 35px);
}

.App {
  text-align: center;
  position: relative;
  user-select: none;
}

.SelectedTileOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 200;
}

.Wrapper {
  width: 100vw;
  max-width: 600px; 
}

.Vocabble {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
}

.User {
  font-size: 18px;
  color: grey;
  text-align: left;
}

.Vocabble h1 {
  margin: 10px;
}

.GameInfo {
  display: flex;
  justify-content: space-between;
}

.GameInfo span {
  border-radius: 10px 10px 0px 0px;
  padding: 8px 12px;
}

.GameInfo span.activePlayer {
  color: white;
  background-color: grey;/* #040; */
}

.Vocabble.activePlayer .GameInfo span.activePlayer {
  background-color: green;
}

.BlankTileChoice-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.BlankTileChoice-buttons {
  position: absolute;
  top: 40%;
  height: 20%;
  left: 10%;
  width: 80%;
  z-index: 101;
  background: white;
  padding: 20px;
  border: 5px solid gold;
}

.BlankTileChoice-buttons button {
  height: 30px;
  width: 30px;
}

.Vocabble .VocabbleBoard {
  border: 1vw solid grey;
}

.Vocabble.activePlayer .VocabbleBoard {
  border-color: green;
}

.boardRow {
  display: flex;
}

.boardSpace {
  box-sizing: content-box; /* spaces and tiles can share a size, with tiles being border-box */
  border: 1px solid darkgrey;
  margin: 1px;
  cursor: pointer;
  position: relative;
}

.boardSpace.board-centre {
  background-color: violet;
}

.boardSpace.tripleWord {
  background-color: red;
}

.boardSpace.doubleWord {
  background-color: orange;
}

.boardSpace.tripleLetter {
  background-color: darkblue;
}

.boardSpace.doubleLetter {
  background-color: skyblue;
}

.boardSpace .placementScore {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: yellow;
  border: 2px solid brown;
  z-index: 50;
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 25%;
}


/* TILES */

.tile {
  border: 1px solid orange;
  width: var(--tileSize);
  height: var(--tileSize);
  position: relative;
  cursor: pointer;
  background: rgba(255,255,255,0.6);
  overflow: hidden;
}

.tile-letter {
  font-size: 23px;
  position: relative;
}

.tile-score {
  font-size: 10px;
  position: absolute;
  right: 3px;
  top: 0;
}

.tile.selected {
  background-color: gold;
}

.tile.locked {
  background-color: rgb(255, 240, 207);
}

.tile.displaced {
  left: 35px;
}

.tile.swapping {
  background-color: red;
}

.VocabblePlayerTiles {
  display: flex;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid rgb(255, 240, 207);
}

.VocabblePlayerTiles:hover {
  border-color: orange;
}

.playerTileHolder {
  width: var(--tileSize);
  height: var(--tileSize);
}

.BagCount {
  font-size: 20px;
  float: right;
}