* {
  box-sizing: border-box;
}

:root {
  --tileSize: min(6.2vw, 38px);
}

body {
  background-color: #33333a;
}

.App {
  text-align: center;
  position: relative;
  user-select: none;
}

.SelectedTileOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 200;
}

.Wrapper {
  width: 100vw;
  max-width: 600px; 
}

.WordAtWar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
}

.User {
  font-size: 18px;
  color: grey;
  text-align: left;
}

.WordAtWar h1 {
  margin: 10px;
}

.GameInfo {
  display: flex;
  justify-content: space-between;
}

.GameInfo span {
  color: white;
  border-radius: 10px 10px 0px 0px;
  padding: 8px 12px;
}

.GameInfo span.activePlayer {
  background-color: grey;/* #040; */
}

.WordAtWar.activePlayer .GameInfo span.activePlayer {
  background-color: green;
}

.WordAtWar-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.WordAtWar-modalWindow {
  position: absolute;
  left: 10%;
  width: 80%;
  z-index: 101;
  background: white;
  padding: 20px;
  border: 5px solid gold;
  border-radius: 10px;
  font-size: 20px;
}



.BlankTileChoice-buttons {
  position: absolute;
  top: 40%;
  height: 20%;
}

.BlankTileChoice-buttons button {
  height: var(--tileSize);
  width: var(--tileSize);
}

.QuizChoice-form {
  position: absolute;
  top: 10%;
  height: 80%;
  font-size: 20px;
  text-align: left;
  overflow-y: scroll;
}

.QuizChoice-form input[type="radio"] {
  margin-right: 12px;
}

.quizInstruction {
  text-align: center;
  font-weight: bold;
}

.quiz {
  margin: 30px 0;
}

.quizReward, .quizResult {
  padding: 0px 15px;
  font-weight: bold;
  font-family: Arial;
}

.quizReward.correct, .quizResult.correct {
  color: green;
}

.quizReward.incorrect, .quizResult.incorrect {
  color: red;
}

.quizReward.incorrect {
  text-decoration: line-through;
}

.quizOption button {
  font-size: 1em;
  background-color: gold;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px;
  margin: 5px 0;
  text-align: left;
}

.quizOption button:not(.selectedOption):not([disabled]):hover {
  background-color: rgb(255, 233, 107);
}

.quizOption .selectedOption {
  box-shadow: 0 0 calc(0.2* var(--tileSize)) calc(0.15* var(--tileSize)) #6c19ca;
}

.quizOption button[disabled] {
  color: black;
}

.quizOption.correct button {
  background-color: green;
  font-weight: bold;
}

.quizOption.incorrect button {
  background-color: red;
}

.QuizChoice-form .formFooter {
  text-align: center;
}

.QuizChoice-form input[type="submit"] {
  background: blue;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: large;
}


.WordAtWar .WordAtWarBoard, .PlayerTiles {
  background-color: white;
}

.WordAtWar.activePlayer .WordAtWarBoard {
  border-color: green;
}

.boardRow {
  display: flex;
}

.boardSpace {
  box-sizing: content-box; /* spaces and tiles can share a size, with tiles being border-box */
  width: var(--tileSize);
  height: var(--tileSize);
  border: 1px solid darkgrey;
  cursor: pointer;
  position: relative;
}

.boardSpace.board-centre {
  background-color: violet;
}

.boardSpace.tripleWord {
  background-color: #ff3b3b;
  color: rgb(227, 227, 227);
}

.boardSpace.doubleWord {
  background-color: #ffb52f;
  color: rgb(73, 73, 73);
}

.boardSpace.tripleLetter {
  background-color: #3c3ca6;
  color: rgb(227, 227, 227);
}

.boardSpace.doubleLetter {
  background-color: skyblue;
  color: rgb(73, 73, 73);
}

.boardSpace .bonusSpace {
  font-size: calc(0.25*var(--tileSize));
  position: absolute;
  width: var(--tileSize);
  height: var(--tileSize);
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardSpace .bonusSpace span {
  font-weight: 900;
}

.boardSpace .bonusSpace .bonusSpaceMultiplier {
  font-size: calc(0.35*var(--tileSize));
}

.boardSpace .placementScore {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: yellow;
  color: brown;
  border: 2px solid brown;
  z-index: 150;
  font-size: calc(0.35*var(--tileSize));
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 25%;
}


/* TILES */

.tile {
  border: 1px solid black;
  border-radius: 18%;
  width: var(--tileSize);
  height: var(--tileSize);
  position: relative;
  cursor: pointer;
  background-color: rgb(237, 255, 137);
  color: #442300;
  z-index: 80;
}

.tile::after {
  display: block;
  content: "";
  background: rgba(255, 255, 255, 0.5);
  width: var(--tileSize);
  height: var(--tileSize);
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 0;
  z-index: 70;
}

.tile.locked {
  background: rgb(255 203 104);
}

.tile-letter {
  font-size: calc(0.7*var(--tileSize));
  line-height: calc(0.9*var(--tileSize));
  position: relative;
  top: 1px;
  z-index: 100;
}

.tile-score {
  font-size: calc(0.3*var(--tileSize));
  position: absolute;
  right: 2px;
  top: -2px;
  z-index: 100;
}

.tile.selected {
  background-color: gold;
}

.tile.displaced {
  left: var(--tileSize);
}

.tile.swapping {
  background-color: red;
}

.PlayerTiles {
  display: flex;
  margin: 30px 0;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid rgb(255, 240, 207);
  height: var(--tileSize);
  box-sizing: content-box;
}

.PlayerTiles:hover {
  border-color: orange;
}

.playerTileHolder {
  width: var(--tileSize);
  height: var(--tileSize);
}

.BagCount {
  color: white;
  font-size: 20px;
  float: right;
}


.GameControls {
  
}

.GameControls button {
  margin: 0px 5px;
  width: 18vw;
  height: 18vw;
  max-width: 80px;
  max-height: 80px;
  vertical-align: bottom;
  background-color: darkgreen;
  border: 1px solid white;
  border-radius: 10%;
  color: white;
  cursor: pointer;
}

.GameControls button:hover {
  background-color: green;
}

.GameControls button span.buttonLabel {
  display: block;
  font-weight: bold;
}